.task-container {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    margin: 5px 0;
    padding: 32px 20px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color: #000;
    align-items: center;
    /* transition: all 0.3s; */
}

.title-and-checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

.task-title {
    cursor: pointer;
    user-select: none;
}

.task-title:hover {
    color: #D9434F;
}

.buttons-container {
    display: flex;
    padding-top: 5px;
}

.remove-task-button {
    display: inline;
    cursor: pointer;
    font-size: 1.5em;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    color: lightcoral;
}

.remove-task-button:hover {
    color: lightsalmon;
}

.see-task-details-button {
    cursor: pointer;
    font-size: 1.5em;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    color: lightseagreen;
    margin-right: 3px;
}

.see-task-details-button:hover {
    color: lightblue;
}

input::before {
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #D9434F;
}
  
input:checked::after {
    content: ' ';
    width: 0.6rem;
    height: 0.9rem;
    margin-left: 0.6rem;
    padding-bottom: 5px;
    border-color: #D9434F;
    border-style: solid;
    border-width: 0 4px 4px 0;
    position: absolute;
    transform: rotate(45deg) translate(-6px);
}

input:hover {
    cursor: pointer;
}