.task-details-container {
    background-color: rgba(237, 234, 234, 0.94);
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 5px;
}

.task-details-container h2 {
    margin-bottom: 5px;
    color: #D9434F;
}

.back-button-container {
    width: 30%;
    margin-top: 10%;
}